@import url('https://fonts.googleapi.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
  margin-right: auto;
  background-color: transparent;
}

.sidebar {
  color:#fff;
  margin-right: 60px;
}

.logo {
  display:flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  padding: 10px;
}
.logo-icon {
  width: 10px;
  height: 10px;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: rgba(5, 30, 50, 0.88);
  margin-left: 40px;
  margin-right: 40px;
  
}

.menu-bar {
  height: 88vh;
  width: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
  margin-left: 15px;
  margin-right: 80px;
  background-color:rgb(80, 80, 194);
}
.toggle-theme-btn {
  position: absolute;
  bottom: 30px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

}

/*.toggle {
  margin-left: 15px ;
  

}*/
